<section id="picture">
    <div class="container-fluid">
        <div class="cover">
            <div class="main-text">
                <ul>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                </ul>
                <h1>Five Star Hotels</h1>
                <ul>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                    <li><i class="fa-regular fa-star"></i></li>
                </ul>
                
                
            </div>
            <h3>And we like to keep it that way!</h3>
            <button routerLink="/hotels">SEE HOTELS</button>
            
        </div>
    
        
    </div>
    </section>