<form [formGroup]="formInfo" (ngSubmit)="filterRooms()">
    <div class="field">
        <label for="">Min Price</label>
        <input type="text" formControlName="priceFrom">
    </div>
    <div class="field">
        <label for="">Max Price</label>
        <input type="text" formControlName="priceTo">
    </div>
    <div class="field">
        <label for="">Room Type</label>
        <select formControlName="roomTypeId">
            <option value="">Choose room type</option>
            <option value="1">Single Room</option>
            <option value="2">Double Room</option>
            <option value="3">Deluxe Room</option>
        </select>
    </div>
    <div class="field">
        <label for="">Check In</label>
        <input type="date" formControlName="checkIn">
    </div>
    <div class="field">
        <label for="">Check Out</label>
        <input type="date" formControlName="checkOut">
    </div>
    <div class="field">
        <label for="">Guests</label>
        <select formControlName="maximumGuests">
            <option value="">Choose Guests</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="field">
        <button  type="submit">APLLY FILTER</button>
        <button (click)="allRooms()" type="reset">RESET</button>
    </div>
</form>

<section>
    @for (item of rooms; track $index) {
        <div class="card" style="width: 18rem;">
            <img [src]="item.images[0].source" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <h5 class="card-title">{{item.pricePerNight}}$</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    }
</section>