form {
    display: flex;
    max-width: 1400px;
    margin: 20px auto;
    box-shadow: 0 0 15px 1px grey;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

form .field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}